@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Source+Serif+Pro&display=swap');
:root {
    --primary-color: #669BBC;
    --secondary-color: #FDF0D5;
    --accent1-color: #0f0304;
    --accent2-color: #003049;

    --heading-font: 'Source Serif Pro', serif;
    --paragraph-font: 'Cardo', serif;
  
    --nav-background-color: #fffefc;
    --nav-link-color: #9ec2d8;
    --nav-hover-link-color: #474343;
    --nav-hover-background-color: #6a8391;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 430px;
    padding: 20px;
  }
  h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  div {
    position: relative;
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2); /* why use rgba instead of hex here? */
    padding: 1em;
    background-color: #1a1414;
    color: #eaf5f5;
    text-align: center;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  h1{ 
    position: absolute;
    top: 40px;
  right: 100px;
   }
   
   article{ 
    position: absolute;
    top: 40px;
  left: 100px;
   }  

   article img {
    /* you most likely will have other declarations here */
    float: right;
  }
   
 box {
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  background-color: #c7dbea;
  color: #000;
} 

    
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #a5bad7;
	max-width: 1000px;
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: rgb(113, 195, 220);
	font-weight: 700;
	text-decoration: underline;
}


figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 220px;
  max-height: 150px;
}

figcaption {background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

nav {
  background-color: rgb(178, 70, 180);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: right;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #9abadb; 
}

.sociallinks {
  width: 80%;
  height: 500px;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(90px,auto);
  justify-content: end;
  justify-items: end;
  grid-gap:10px ;
}