@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Source+Serif+Pro&display=swap');
:root {
    --primary-color: #669BBC;
    --secondary-color: #FDF0D5;
    --accent1-color: #0f0304;
    --accent2-color: #003049;

    --heading-font: 'Source Serif Pro', serif;
    --paragraph-font: 'Cardo', serif;
  
    --nav-background-color: #fffefc;
    --nav-link-color: #9ec2d8;
    --nav-hover-link-color: #474343;
    --nav-hover-background-color: #6a8391;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 930px;
    padding: 20px;
  }
  h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  div.hero {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero h1{ 
    position: absolute;
    top: 21px;
  left: 287px;
  color: #2a2d2ceb;
   }
   
   article{ 
    position: absolute;
    top: 195px;
  right: 100px;
  background-color: #7b9c66;
   }  

   .hero article img {
    /* you most likely will have other declarations here */
    float: right;
    width: 190px
  }
   
 box {
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  background-color: #c7dbea;
  color: #000;
} 

    
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #a5bad7;
	max-width: 1000px;
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: rgb(113, 195, 220);
	font-weight: 700;
	text-decoration: underline;
}


figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

 .images img {
  max-width: 500px;
  max-height: 150px;
}

figcaption {background-color: #528a5f;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.sociallinks{
  float: right;
}

.sociallinks {
  width: 50%;
  height: 100px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  justify-items: end;
  grid-gap:10px ;
  align-content: end;
}

