* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  position: relative;
  width: 20em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2); /* why use rgba instead of hex here? */
  padding: 1em;
  background-color: #1a1414;
  color: #eaf5f540;
  text-align: center;
}

  aside img {
    width: 200px;
    height: auto;
  }

  main img {
    width: 150px;
    height: auto;
  }

  p { 
    padding: 0;
  }

  footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
  }
 h2{ 
  position: absolute;
  top: 20px;
left: 80px;
 }

 /* Class Selectors */
 .box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

main img {
  /* you most likely will have other declarations here */
  float: right;
}

aside h2 {
  position: relative;
  top: 45px;
  left: 140px;
}
